@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color:#c1ddde;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #063d40;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
